.home {
  padding: 1.5rem;
}

.product-list-selector {
  font-size: 1.5rem;
  color: var(--colors-placeholder);
  margin-bottom: 1.5rem;
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.product-list-selector:first-of-type {
  margin-right: 2rem;
}
