header {
  border-bottom: 2px solid var(--colors-placeholder);
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 2rem;
  color: var(--colors-secondary);
}

h1 span {
  color: var(--colors-success);
}

.items-in-cart {
  position: absolute;
  top: -6px;
  left: -6px;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: var(--colors-primary);
  color: white;
  font-size: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0.5px solid var(--colors-highlight);
}
