.flyout {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 99;
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
}

.flyout.hide {
  transform: translate3d(100vw, 0, 0);
}

.flyoutMenu.show {
  transform: translate3d(-100vw, 0, 0);
  overflow: hidden;
}

.product-container {
  padding: 0 1.5rem 3rem 1.5rem;
  flex-grow: 1;
  overflow: scroll;
}

.cart-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  height: 103px;
  border-bottom: 2px solid var(--colors-border);
}

.cart-product:last-of-type {
  border-bottom: none;
}

.cart-product-name {
  font-weight: bold;
  font-size: 1.25rem;
  text-align: left;
  margin: 0 0 0 1rem;
  max-width: 170px;
}

.product-image {
  max-height: 71px;
  max-width: 67px;
  width: auto;
}

.product-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.total-layout {
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid var(--colors-placeholder);
  border-bottom: 2px solid var(--colors-placeholder);
}

.total-layout h2 {
  margin: 0;
}

.checkout-layout {
  padding: 1.5rem;
  background-color: var(--colors-border);
}

.checkout-layout button {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: var(--colors-primary);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
}

.checkout-layout button:active {
  background-color: rgba(8, 105, 114, 0.85);
}
